{% extends "layout.html" %}
{% block body %}
<head>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>
<body>
<p></p><p></p>
{% if entry != None %}
    <div class="container fw-bold">    
        <h1 class="mb-5">{{username}}さんの{{entry[0].date}}の仕訳時間
        </h1>
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">努力時間</th><th scope="col">遊び時間</th><th scope="col">無駄時間</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="col">{{ entry[3].gannbari_count }}時間</td><td scope="col">{{ entry[3].asobi_count}}時間</td><td scope="col">{{ entry[3].muda_count}}時間</td>
                            </tr>
                    </table>
                </div>
        <div class="row">        
            <div class="box1 col-md-7 col-xs-12">
                <div class="border border-info p-3 border-4 rounded fw-bold">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                    {{entry[0].date}}の詳しい記録を見る
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body container">
                                    <div  class="table">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">{{ entry[0].date}}</th><th scope="col">内容</th><th scope="col">属性</th> 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>0時</td><td>{{ entry[2].title_am12 }}</td><td>{{ entry[1].genre_am12 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>1時</td><td>{{ entry[2].title_am1 }}</td><td>{{ entry[1].genre_am1 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>2時</td><td>{{ entry[2].title_am2 }}</td><td>{{ entry[1].genre_am2 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>3時</td><td>{{ entry[2].title_am3 }}</td><td>{{ entry[1].genre_am3 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>4時</td><td>{{ entry[2].title_am4 }}</td><td>{{ entry[1].genre_am4 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>5時</td><td>{{ entry[2].title_am5 }}</td><td>{{ entry[1].genre_am5 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>6時</td><td>{{ entry[2].title_am6 }}</td><td>{{ entry[1].genre_am6 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>7時</td><td>{{ entry[2].title_am7 }}</td><td>{{ entry[1].genre_am7 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>8時</td><td>{{ entry[2].title_am8 }}</td><td>{{ entry[1].genre_am8 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>9時</td><td>{{ entry[2].title_am9 }}</td><td>{{ entry[1].genre_am9 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>10時</td><td>{{ entry[2].title_am10 }}</td><td>{{ entry[1].genre_am10 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>11時</td><td>{{ entry[2].title_am11 }}</td><td>{{ entry[1].genre_am11 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>12時</td><td>{{ entry[2].title_pm12 }}</td><td>{{ entry[1].genre_pm12 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>13時</td><td>{{ entry[2].title_pm1 }}</td><td>{{ entry[1].genre_pm1 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>14時</td><td>{{ entry[2].title_pm2 }}</td><td>{{ entry[1].genre_pm2 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>15時</td><td>{{ entry[2].title_pm3 }}</td><td>{{ entry[1].genre_pm3 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>16時</td><td>{{ entry[2].title_pm4 }}</td><td>{{ entry[1].genre_pm4 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>17時</td><td>{{ entry[2].title_pm5 }}</td><td>{{ entry[1].genre_pm5 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>18時</td><td>{{ entry[2].title_pm6 }}</td><td>{{ entry[1].genre_pm6 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>19時</td><td>{{ entry[2].title_pm7 }}</td><td>{{ entry[1].genre_pm7 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>20時</td><td>{{ entry[2].title_pm8 }}</td><td>{{ entry[1].genre_pm8 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>21時</td><td>{{ entry[2].title_pm9 }}</td><td>{{ entry[1].genre_pm9 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>22時</td><td>{{ entry[2].title_pm10 }}</td><td>{{ entry[1].genre_pm10 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>23時</td><td>{{ entry[2].title_pm11 }}</td><td>{{ entry[1].genre_pm11 }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                    {{entry[0].date}}のメモを見る
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body container">
                                {{entry[0].text}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-auto mt-4 fs-6 ">
                        <div class="box1 col-5">
                            <form action="{{ url_for('entry.edit_entry', id=entry[0].entry_id, search_date=search_date) }}" method="get">
                                <button type="submit" class="btn btn-outline-primary fw-bold">{{ entry[0].date }}の<div class="text-center">記録を編集</div></button>
                            </form>
                        </div>
                        <div class=" box2 col-2">&emsp;</div>
                        <div class="box3 col-5">
                            <form action="{{ url_for('entry.delete_entry', id=entry[0].entry_id, search_date=search_date) }}" method="post">
                                <button type="submit" class="btn btn-outline-danger fw-bold" >{{ entry[0].date }}の<div class="text-center">記録を削除</div></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="mt-3 border p-2 border-info border-4 rounded fw-bold">
                    <div class="text-start fs-6">twitterで仕訳時間のハッシュタグを付けてツイートして記録を、みんなに共有しよう!</div>
                    <div class="share_btn mt-3">
                        <a href="https://twitter.com/share?hashtags=仕訳時間&text={{ username }}さんは、{{ entry[0].date }}は{{ entry[3].gannbari_count }}時間努力して{{ entry[3].asobi_count}}時間遊んで、{{ entry[3].muda_count}}時間無駄にしてしまったようです。明日も忘れず記録しよう！"ref_src="twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-size="large">Tweet</a>
                        <p></p>
                        <div class="text-start fs-6">※仕訳時間のハッシュタグを付けてツイートをすると</div>他のユーザーにもあなたのツイートが表示されます。<div class="text-start fs-6">他の人に見られたくないときは、ハッシュタグを消して</div><div class="text-start fs-6">ツイートしてください。</div>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>  
            <div class="box3 col-md-1 col-xs-12">&emsp;</div>
            <div class="box3 twitter col-md-3 col-xs-12 mt-1 border-top border-start p-1 border-info border-4 rounded fw-bold">
            <h2 class="border-bottom border-info border-4 rounded"><div class="text-center">みんなの記録</div><div class="text-center">掲示板</div></h2>
            <div class="text-start fs-6"><p></p>このアプリを使っているみんなの<div class="text-start fs-6">記録や投稿を見ることが出来ます!</div><div class="text-start fs-6">みんなの頑張っている記録を見れば</div><div class="text-start fs-6">モチベーションも上がるかも！</div>あなたも記録をツイートして仕訳仲間を増やそう！</div>
            {% for url_result in url_list%}
                <blockquote class="twitter-tweet">
                    <a href={{ url_result }}></a>
                </blockquote>
            {% endfor %}
            </div>
        </div>
    </div>
{% else %}
<div class="container fw-bold">
        <h1 class="mb-5">{{username}}さんの{{search_date}}の仕訳時間
        </h1>
        <div class="row">        
            <div class="box1 col-md-7 col-xs-12 mb-3 ">       
                <div class="accordion " id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                {{search_date}}の記録はまだありません
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne" >
                            <div class="accordion-body container">
                                <div class="row mx-auto mt-4 fs-6">
                                    <div class="box1 col-6">
                                        <form action="{{ url_for('entry.new_entry') }}" method="get">
                                            <button type="submit" class="btn btn-outline-primary fw-bold">新しく記録を追加する</button>
                                        </form>
                                    </div>
                                    <div class="box2 col-6">
                                        <form action="{{ url_for('entry.search_entry') }}" method="get">
                                            <button type="submit" class="btn btn-outline-danger fw-bold">記録を検索する</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                このサイトの使い方を確認する
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body container">
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="box2 twitter col-md-4 col-xs-12 border border-info p-3 border-4 rounded fw-bold">
            <h2>・みんなの記録</h2>
            <div>このアプリを使っている他の人々の記録や投稿を見ることが出来ます!あなたもぜひ、Twitterで共有してみてください!</div>
            {% for url_result in url_list%}
                <blockquote class="twitter-tweet">
                    <a href={{ url_result }}></a>
                </blockquote>
            {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
</body>
{% endblock %}