{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('entry.add_entry') }}" method=post class=add-entry>
    <div class="form-groupe">
        <label for="Inputdate">日付を入力
        <input type="date" name=date id="Inputdate">
        </label>
    </div>
    <div class="form-group">
    <label for="Input_am12">0時</label>
        <input type="radio" name=genre_am12 id="Input_Genre_am12" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_am12 id="Input_Genre_am12" value="遊び時間">遊び時間
        <input type="radio" name=genre_am12 id="Input_Genre_am12" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_am12"></label>
        <textarea class="form-control" name=title_am12 rows ="1"></textarea>
    </div>
    <div class="form-group">
    <label for="Input_am1">１時</label>
        <input type="radio" name=genre_am1 id="Input_Genre_am1" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_am1 id="Input_Genre_am1" value="遊び時間">遊び時間
        <input type="radio" name=genre_am1 id="Input_Genre_am1" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_am1"></label>
        <textarea class="form-control" name=title_am1 rows ="1"></textarea>
    </div>
    <div class="form-group">
    <label for="Input_am2">2時</label>
        <input type="radio" name=genre_am2 id="Input_Genre_am2" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_am2 id="Input_Genre_am2" value="遊び時間">遊び時間
        <input type="radio" name=genre_am2 id="Input_Genre_am2" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_am2"></label>
        <textarea class="form-control" name=title_am2 rows ="1"></textarea>
    </div>
    <div class="form-group">
    <label for="Input_am3">3時</label>
        <input type="radio" name=genre_am3 id="Input_Genre_am3" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_am3 id="Input_Genre_am3" value="遊び時間">遊び時間
        <input type="radio" name=genre_am3 id="Input_Genre_am3" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_am3"></label>
        <textarea class="form-control" name=title_am3 rows ="1"></textarea>
    </div>
    <div class="form-group">
    <label for="Input_am3">4時</label>
        <input type="radio" name=genre_am4 id="Input_Genre_am4" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_am4 id="Input_Genre_am4" value="遊び時間">遊び時間
        <input type="radio" name=genre_am4 id="Input_Genre_am4" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_am4"></label>
        <textarea class="form-control" name=title_am4 rows ="1"></textarea>
    </div>
    <div class="form-group">
    <label for="Input_am3">5時</label>
        <input type="radio" name=genre_am5 id="Input_Genre_am5" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_am5 id="Input_Genre_am5" value="遊び時間">遊び時間
        <input type="radio" name=genre_am5 id="Input_Genre_am5" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_am5"></label>
        <textarea class="form-control" name=title_am5 rows ="1"></textarea>
    </div>
    <div class="form-group">
    <label for="Input_am3">6時</label>
        <input type="radio" name=genre_am6 id="Input_Genre_am6" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_am6 id="Input_Genre_am6" value="遊び時間">遊び時間
        <input type="radio" name=genre_am6 id="Input_Genre_am6" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_am6"></label>
        <textarea class="form-control" name=title_am6 rows ="1"></textarea>
    </div>
    <div class="form-group">
    <label for="Input_am3">7時</label>
        <input type="radio" name=genre_am7 id="Input_Genre_am7" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_am7 id="Input_Genre_am7" value="遊び時間">遊び時間
        <input type="radio" name=genre_am7 id="Input_Genre_am7" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_am7"></label>
        <textarea class="form-control" name=title_am7 rows ="1"></textarea>
    </div>
    <div class="form-group">
    <label for="Input_am3">8時</label>
        <input type="radio" name=genre_am8 id="Input_Genre_am8" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_am8 id="Input_Genre_am8" value="遊び時間">遊び時間
        <input type="radio" name=genre_am8 id="Input_Genre_am8" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_am8"></label>
        <textarea class="form-control" name=title_am8 rows ="1"></textarea>
    </div>
    <div class="form-group">
    <label for="Input_am9">9時</label>
        <input type="radio" name=genre_am9 id="Input_Genre_am9" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_am9 id="Input_Genre_am9" value="遊び時間">遊び時間
        <input type="radio" name=genre_am9 id="Input_Genre_am9" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_am9"></label>
        <textarea class="form-control" name=title_am9 rows ="1"></textarea>
    </div>
    <div class="form-group">
    <label for="Input_am10">10時</label>
        <input type="radio" name=genre_am10 id="Input_Genre_am10" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_am10 id="Input_Genre_am10" value="遊び時間">遊び時間
        <input type="radio" name=genre_am10 id="Input_Genre_am10" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_am10"></label>
        <textarea class="form-control" name=title_am10 rows ="1"></textarea>
    </div>
    <div class="form-group">
    <label for="Input_am11">11時</label>
        <input type="radio" name=genre_am11 id="Input_Genre_am11" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_am11 id="Input_Genre_am11" value="遊び時間">遊び時間
        <input type="radio" name=genre_am11 id="Input_Genre_am11" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_am11"></label>
        <textarea class="form-control" name=title_am11 rows ="1"></textarea>
    </div>
    <div class="form-group">
    <label for="Input_pm12">12時</label>
        <input type="radio" name=genre_pm12 id="Input_Genre_pm12" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_pm12 id="Input_Genre_pm12" value="遊び時間">遊び時間
        <input type="radio" name=genre_pm12 id="Input_Genre_pm12" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_pm12"></label>
        <textarea class="form-control" name=title_pm12 rows ="1"></textarea>
    </div>
    <div class="form-group">
    <label for="Input_pm1">13時</label>
        <input type="radio" name=genre_pm1 id="Input_Genre_pm1" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_pm1 id="Input_Genre_pm1" value="遊び時間">遊び時間
        <input type="radio" name=genre_pm1 id="Input_Genre_pm1" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_pm1"></label>
        <textarea class="form-control" name=title_pm1 rows ="1"></textarea>
    </div>
    <div class="form-group">
    <label for="Input_pm2">14時</label>
        <input type="radio" name=genre_pm2 id="Input_Genre_pm2" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_pm2 id="Input_Genre_pm2" value="遊び時間">遊び時間
        <input type="radio" name=genre_pm2 id="Input_Genre_pm2" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_pm2"></label>
        <textarea class="form-control" name=title_pm2 rows ="1"></textarea>
    </div>
    <div class="form-group">
    <label for="Input_pm3">15時</label>
        <input type="radio" name=genre_pm3 id="Input_Genre_pm3" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_pm3 id="Input_Genre_pm3" value="遊び時間">遊び時間
        <input type="radio" name=genre_pm3 id="Input_Genre_pm3" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_pm3"></label>
        <textarea class="form-control" name=title_pm3 rows ="1"></textarea>
    </div>
    <div class="form-group">
    <label for="Input_pm4">16時</label>
        <input type="radio" name=genre_pm4 id="Input_Genre_pm4" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_pm4 id="Input_Genre_pm4" value="遊び時間">遊び時間
        <input type="radio" name=genre_pm4 id="Input_Genre_pm4" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_pm4"></label>
        <textarea class="form-control" name=title_pm4 rows ="1"></textarea>
    </div>
    <div class="form-group">
    <label for="Input_pm5">17時</label>
        <input type="radio" name=genre_pm5 id="Input_Genre_pm5" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_pm5 id="Input_Genre_pm5" value="遊び時間">遊び時間
        <input type="radio" name=genre_pm5 id="Input_Genre_pm5" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_pm5"></label>
        <textarea class="form-control" name=title_pm5 rows ="1"></textarea>
    </div>
    <div class="form-group">
    <label for="Input_pm6">18時</label>
        <input type="radio" name=genre_pm6 id="Input_Genre_pm6" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_pm6 id="Input_Genre_pm6" value="遊び時間">遊び時間
        <input type="radio" name=genre_pm6 id="Input_Genre_pm6" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_pm6"></label>
        <textarea class="form-control" name=title_pm6 rows ="1"></textarea>
    </div>
    <div class="form-group">
    <label for="Input_pm7">19時</label>
        <input type="radio" name=genre_pm7 id="Input_Genre_pm7" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_pm7 id="Input_Genre_pm7" value="遊び時間">遊び時間
        <input type="radio" name=genre_pm7 id="Input_Genre_pm7" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_pm7"></label>
        <textarea class="form-control" name=title_pm7 rows ="1"></textarea>
    </div>
    <div class="form-group">
    <label for="Input_pm8">20時</label>
        <input type="radio" name=genre_pm8 id="Input_Genre_pm8" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_pm8 id="Input_Genre_pm8" value="遊び時間">遊び時間
        <input type="radio" name=genre_pm8 id="Input_Genre_pm8" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_pm8"></label>
        <textarea class="form-control" name=title_pm8 rows ="1"></textarea>
    </div>
    <div class="form-group">
    <label for="Input_pm9">21時</label>
        <input type="radio" name=genre_pm9 id="Input_Genre_pm9" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_pm9 id="Input_Genre_pm9" value="遊び時間">遊び時間
        <input type="radio" name=genre_pm9 id="Input_Genre_pm9" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_pm9"></label>
        <textarea class="form-control" name=title_pm9 rows ="1"></textarea>
    </div>
    <div class="form-group">
    <label for="Input_pm10">22時</label>
        <input type="radio" name=genre_pm10 id="Input_Genre_pm10" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_pm10 id="Input_Genre_pm10" value="遊び時間">遊び時間
        <input type="radio" name=genre_pm10 id="Input_Genre_pm10" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_pm10"></label>
        <textarea class="form-control" name=title_pm10 rows ="1"></textarea>
    </div>
    <div class="form-group">
    <label for="Input_pm11">23時</label>
        <input type="radio" name=genre_pm11 id="Input_Genre_pm11" value="頑張り時間" required>頑張り時間
        <input type="radio" name=genre_pm11 id="Input_Genre_pm11" value="遊び時間">遊び時間
        <input type="radio" name=genre_pm11 id="Input_Genre_pm11" value="無駄時間">無駄時間
    </div>
    <div class="form-group">
        <label for="Input_Title_pm11"></label>
        <textarea class="form-control" name=title_pm11 rows ="1"></textarea>
    </div>
    <div class="form-group">
        <label for="InputText">残したいメモがあれば、入力してください</label>
        <textarea class="form-control" id="InputText" name=text rows="3"></textarea>
    </div>
    <button type ="submit" class="btn btn-primary">記録する</button>
</form>

{% endblock %}